body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(./coors.jpg);
}

header {
  position: absolute;
<<<<<<< HEAD
  right: -3%;
=======
  right: -1%;
>>>>>>> 70a60e2687c0b25826c9d0effdcae10cab82b68a
  width: 100%;
  height: 18vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-tab {
<<<<<<< HEAD
  border-right: 1px solid rgb(8, 36, 122);
=======
  box-shadow: inset 0 0 1em black;
>>>>>>> 70a60e2687c0b25826c9d0effdcae10cab82b68a
  width: 15vw;
  height: 100%;
  -webkit-transform: skewX(-20deg);
  background: rgb(8, 36, 122);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(8, 36, 122, 0.80);
}

.linky {
  text-decoration: none;
}

.nav-tab h4 {
  -webkit-transform: skewX(20deg);
  font-family: Arial;
  text-decoration: none;
  color: white;
  font-size: 1.22em;
  margin-left: 1%;
  margin-right: 1%;
}

.nav-tab:hover {
  -webkit-transform: skewX(-20deg);
  font-family: Arial;
  margin: 0px
  width: 100%;
  text-decoration: none;
  color: white;
<<<<<<< HEAD
  background-color: rgba(240, 112, 40, 0.8);
  font-size: 1.2em;
  box-shadow: 2px 2px 2px black;
}

=======
  /*background-color: rgba(0, 162, 254, 0.6);*/
  background-color: rgba(240, 112, 40, 0.6);
  font-size: 1.2em;
  border: 0.1em solid rgb(62, 28, 9);
}


>>>>>>> 70a60e2687c0b25826c9d0effdcae10cab82b68a
.title-hold {
  background-color: rgba(8, 36, 122, 0.80);
  height: 9.6vh;
  width: 45%;
  -webkit-transform: skewX(-20deg);
<<<<<<< HEAD
=======
  box-shadow: inset 0 0 1em black;
>>>>>>> 70a60e2687c0b25826c9d0effdcae10cab82b68a
}

.title {
  font-family: firsttest;
  text-align: center;
  font-size: 3.5em;
  color: white;
  text-shadow: 3px 3px 3px black;
  margin: auto;
  margin-top: 1%;
  -webkit-transform: skewX(20deg);
}

.orange-backlit {
  color: #f07028;
}

.blue-backlit {
  color: #08247a;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 11%;
}

.featured-hold {
  width: 75%;
  height: 65vh;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.featured-title {
  margin-left: 33vw;
<<<<<<< HEAD
  margin-top: 8%;
=======
  margin-top: 9%;
>>>>>>> 70a60e2687c0b25826c9d0effdcae10cab82b68a
  color: white;
  font-size: 3em;
  font-family: Arial;
  text-shadow: 1px 1px 1px black;
}

.img-hold {
  width: 68vw;
  height: 20vh;
<<<<<<< HEAD
  margin-bottom: 16%;
=======
  margin-bottom: 15%;
>>>>>>> 70a60e2687c0b25826c9d0effdcae10cab82b68a
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.featured-img {
  margin-top: 0px;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
}

.text-box {
  width: 35vw;
<<<<<<< HEAD
  margin-top: 2%;
=======
  margin-top: 3%;
>>>>>>> 70a60e2687c0b25826c9d0effdcae10cab82b68a
}

.blurb-header {
  box-shadow: inset 0 0 1em black;
  align-self: center;
  color: #08247a;
  font-size: 1.5em;
  text-align: center;
  font-family: Arial;
  background-color: rgba(240, 112, 40, 0.85);
}

.text-box p {
  color: white;
  text-align: center;
}

.blurb {
  font-size: 1.1em;
  text-shadow: 1px 1px 1px black;
  font-family: Arial;
}

.date-location {
  font-family: Arial;
  background-color: rgba(8, 36, 122, 0.85);
  box-shadow: inset 0 0 1em black;
  font-size: 1.3em;
}

footer {
  width: 100%;
  background-color: rgba(8, 36, 122, 0.85);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5%;
  margin-top: 0px;
  height: 3em;
  position: fixed;
  bottom: 0px;
  box-shadow: inset 0 0 1em black;
}

.footer-logo {
<<<<<<< HEAD
  margin-top: 0.1em;
  height: 3.7em;
=======
  height: 3em;
>>>>>>> 70a60e2687c0b25826c9d0effdcae10cab82b68a
  width: auto;
  border-radius: 50%;
  box-shadow: inset 0 0 1em black;
}

footer p {
  font-family: Arial;
  color: white;
<<<<<<< HEAD
=======
  /*text-shadow: 2px 2px 2px black;*/
>>>>>>> 70a60e2687c0b25826c9d0effdcae10cab82b68a
  margin-right: 8%;
  margin-left: 8%;
}
