body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(./fillmore.jpg);
}

header {
  position: absolute;
  right: -3%;
  width: 100%;
  height: 18vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-tab {
  border-right: 1px solid rgb(8, 36, 122);
  width: 15vw;
  height: 100%;
  -webkit-transform: skewX(-20deg);
  background: rgb(8, 36, 122);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(8, 36, 122, 0.80);
}

.linky {
  text-decoration: none;
}

.nav-tab h4 {
  -webkit-transform: skewX(20deg);
  font-family: Arial;
  text-decoration: none;
  color: white;
  font-size: 1.22em;
  margin-left: 1%;
  margin-right: 1%;
}

.nav-tab:hover {
  -webkit-transform: skewX(-20deg);
  font-family: Arial;
  margin: 0px
  width: 100%;
  text-decoration: none;
  color: white;
  background-color: rgba(240, 112, 40, 0.8);
  font-size: 1.2em;
  box-shadow: 2px 2px 2px black;
}

.title-hold {
  background-color: rgba(8, 36, 122, 0.80);
  height: 9.6vh;
  width: 45%;
  -webkit-transform: skewX(-20deg);
}

.title {
  font-family: firsttest;
  text-align: center;
  font-size: 3.5em;
  color: white;
  text-shadow: 3px 3px 3px black;
  margin: auto;
  margin-top: 1%;
  -webkit-transform: skewX(20deg);
}

.orange-backlit {
  color: #f07028;
}

.blue-backlit {
  color: #08247a;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 12.5%;
}

.column {
  background-color: rgba(0, 0, 0, 0.9);
  height: 60vh;
  width: 45vw;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial;
  box-shadow: inset 0 0 2em black;
}

.column-title {
  width: 90%;
  text-align: center;
  font-size: 2.2em;
  padding: 1%;
  text-shadow: 2px 2px 2px black;
}

#flagged-title {
  background-color: rgba(240, 112, 40, 0.85);
  box-shadow: inset 0 0 0.35em black;
}

#attended-title {
  background-color: rgba(8, 36, 122, 0.85);
  box-shadow: inset 0 0 0.35em black;
}

.event {
  font-size: 1.4em;
  margin-top: 2%;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}

footer {
  width: 100%;
  background-color: rgba(8, 36, 122, 0.85);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5%;
  margin-top: 0px;
  height: 3em;
  position: absolute;
  bottom: 0%;
}

.footer-logo {
  margin-top: 0.1em;
  height: 3.7em;
  width: auto;
  border-radius: 50%;
  box-shadow: inset 0 0 1em black;
}

footer p {
  font-family: Arial;
  color: white;
  margin-right: 8%;
  margin-left: 8%;
}
