body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(./fillmore.jpg);
}

header {
  position: absolute;
<<<<<<< HEAD
  right: -3%;
=======
  right: -1%;
>>>>>>> 70a60e2687c0b25826c9d0effdcae10cab82b68a
  width: 100%;
  height: 18vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-tab {
<<<<<<< HEAD
  border-right: 1px solid rgb(8, 36, 122);
=======
>>>>>>> 70a60e2687c0b25826c9d0effdcae10cab82b68a
  width: 15vw;
  height: 100%;
  -webkit-transform: skewX(-20deg);
  background: rgb(8, 36, 122);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(8, 36, 122, 0.80);
}

.linky {
  text-decoration: none;
<<<<<<< HEAD
}

.nav-tab h4 {
  -webkit-transform: skewX(20deg);
  font-family: Arial;
  text-decoration: none;
  color: white;
  font-size: 1.22em;
=======
  color: white;
  font-size: 1.22em;
  text-shadow: 2px 2px 2px black;
>>>>>>> 70a60e2687c0b25826c9d0effdcae10cab82b68a
  margin-left: 1%;
  margin-right: 1%;
}

<<<<<<< HEAD
.nav-tab:hover {
  -webkit-transform: skewX(-20deg);
  font-family: Arial;
  margin: 0px
  width: 100%;
  text-decoration: none;
  color: white;
  background-color: rgba(240, 112, 40, 0.8);
  font-size: 1.2em;
  box-shadow: 2px 2px 2px black;
=======
.nav-tab h4 {
  -webkit-transform: skewX(20deg);
  font-family: Arial;
>>>>>>> 70a60e2687c0b25826c9d0effdcae10cab82b68a
}

.title-hold {
  background-color: rgba(8, 36, 122, 0.80);
<<<<<<< HEAD
  height: 9.6vh;
=======
  height: 10vh;
>>>>>>> 70a60e2687c0b25826c9d0effdcae10cab82b68a
  width: 45%;
  -webkit-transform: skewX(-20deg);
}

.title {
  font-family: firsttest;
  text-align: center;
  font-size: 3.5em;
  color: white;
  text-shadow: 3px 3px 3px black;
  margin: auto;
  margin-top: 1%;
  -webkit-transform: skewX(20deg);
}

.orange-backlit {
  color: #f07028;
}

.blue-backlit {
  color: #08247a;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
<<<<<<< HEAD
  margin-top: 12.5%;
}

.column {
  background-color: rgba(0, 0, 0, 0.9);
  height: 60vh;
  width: 45vw;
  color: white;
=======
}

.column {
  background-color: rgba(0, 0, 0, 0.85);
  height: 60vh;
  width: 45vw;
  color: white;
  margin-top: 11%;
>>>>>>> 70a60e2687c0b25826c9d0effdcae10cab82b68a
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial;
<<<<<<< HEAD
  box-shadow: inset 0 0 2em black;
=======
>>>>>>> 70a60e2687c0b25826c9d0effdcae10cab82b68a
}

.column-title {
  width: 90%;
  text-align: center;
  font-size: 2.2em;
  padding: 1%;
  text-shadow: 2px 2px 2px black;
}

#flagged-title {
<<<<<<< HEAD
  background-color: rgba(240, 112, 40, 0.85);
  box-shadow: inset 0 0 0.35em black;
}

#attended-title {
  background-color: rgba(8, 36, 122, 0.85);
  box-shadow: inset 0 0 0.35em black;
=======
  background: -webkit-linear-gradient(left, #f07028, #08247a);
}

#attended-title {
  background: -webkit-linear-gradient(left, #08247a, #f07028);
>>>>>>> 70a60e2687c0b25826c9d0effdcae10cab82b68a
}

.event {
  font-size: 1.4em;
  margin-top: 2%;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}

footer {
<<<<<<< HEAD
  width: 100%;
  background-color: rgba(8, 36, 122, 0.85);
=======
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: rgba(8, 36, 122, 0.80);
>>>>>>> 70a60e2687c0b25826c9d0effdcae10cab82b68a
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5%;
  margin-top: 0px;
<<<<<<< HEAD
  height: 3em;
  position: absolute;
  bottom: 0%;
}

.footer-logo {
  margin-top: 0.1em;
  height: 3.7em;
  width: auto;
  border-radius: 50%;
  box-shadow: inset 0 0 1em black;
=======
}

.footer-logo {
  height: 5em;
  width: auto;
  margin-right: 4%;
>>>>>>> 70a60e2687c0b25826c9d0effdcae10cab82b68a
}

footer p {
  font-family: Arial;
  color: white;
<<<<<<< HEAD
=======
  text-shadow: 2px 2px 2px black;
>>>>>>> 70a60e2687c0b25826c9d0effdcae10cab82b68a
  margin-right: 8%;
  margin-left: 8%;
}
