body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  position: absolute;
  right: -1%;
  width: 100%;
  height: 18vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-tab {
  box-shadow: inset 0 0 1em black;
  width: 15vw;
  height: 100%;
  -webkit-transform: skewX(-20deg);
  background: rgb(8, 36, 122);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(8, 36, 122, 0.80);
}

.linky {
  text-decoration: none;
}

.nav-tab h4 {
  -webkit-transform: skewX(20deg);
  font-family: Arial;
  text-decoration: none;
  color: white;
  font-size: 1.22em;
  margin-left: 1%;
  margin-right: 1%;
}

.nav-tab:hover {
  -webkit-transform: skewX(-20deg);
  font-family: Arial;
  margin: 0px
  width: 100%;
  text-decoration: none;
  color: white;
  background-color: rgba(240, 112, 40, 0.6);
  font-size: 1.2em;
  border: 0.1em solid rgb(62, 28, 9);
  box-shadow: 2px 2px 2px black;
}

.title-hold {
  background-color: rgba(8, 36, 122, 0.80);
  height: 9.6vh;
  width: 45%;
  -webkit-transform: skewX(-20deg);
}

.title {
  font-family: firsttest;
  text-align: center;
  font-size: 3.5em;
  color: white;
  text-shadow: 3px 3px 3px black;
  margin: auto;
  margin-top: 1%;
  -webkit-transform: skewX(20deg);
}

#orange-backlit {
  color: #f07028;
}

#blue-backlit {
  color: #08247a;
}

.main1 {
    background-image: url(./denver-background.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 0 1em #111;
    display: flex;
    flex-direction: column;;
    justify-content: space-between;
}

.info {
  width: 30%;
  align-self: center;
  margin-bottom: 0px;
  margin-top: 9%;
  font-family: firsttest;
  color: white;
  font-size: 3em;
  text-shadow: 2px 2px 3px black;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.card-row {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.card {
  padding-top: 2%;
  height: 12vh;
  width: 12vw;
  background-color: rgba(8, 36, 122, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4%;
  box-shadow: inset 0 0 1em black;
}

.card:hover {
  background-color: rgba(240, 112, 40, 0.85);
  margin: 1%;
  height: 18vh;
  width: 18vw;
  box-shadow: 3px 3px 3px black;
}

.card-img {
  width: 5.5vw;
  height: 5.5vw;
  border: none;
  border-radius: 50%;
  background: none;
  margin-bottom: 0px;
}

.card h3 {
  font-family: Arial;
  color: white;
  text-shadow: 2px 2px 3px black;
  margin-top: 0px;
}

.scroll-hold {
  width: 50%;
  height: 12vh;
  align-self: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: space-around;;
  align-items: center;
  font-size: 2em;
  margin-bottom: 2%;
}

.scroll {
  height: 60%;
  font-family: Arial;
  width: 50%;
  border-radius: 10%;
  background-color: rgba(74, 74, 74, 0.8);
  font-family: Arial;
  color: white;
  text-shadow: 1px 1px 1px black;
}

#orange-bold {
  font-weight: bolder;
  color: #f07028;
}

#blue-bold {
  font-weight: bolder;
  color: #08247a;
}

.main2 {
    background-image: url(./horse.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 0 1em #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-hold {
  padding: auto;
  text-align: center;
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  font-family: Arial;
  color: white;
}

.basic-info {
  text-align: center;
  width: 60vw;
  height: 20%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2%;
}

.name {
  width: 100%;
  height: 5vh;
  margin: 3%;
  font-size: 1.5em;
  text-align: center;
}

.upload {
  width: 70%;
  font-size: 2em;
  border: 7px groove white;
  background: -webkit-linear-gradient(left, #08247a, #f07028);
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 7%;
  margin-bottom: 2%;
}

.blurb {
  margin-top: 3%;
  margin-bottom: 0px;
  width: 75%;
  height: 15vh;
  font-size: 1.3em;
  text-align: center;
}

.sub-form {
  width: 40vw;
  font-size: 1.4em;
  background: -webkit-linear-gradient(left, #f07028, #08247a);
  border-radius: 10%;
  color: white;
  text-shadow: 1px 1px 1px black;
}

footer {
  width: 100%;
  background-color: rgba(8, 36, 122, 0.85);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5%;
  margin-top: 0px;
  height: 3em;
  position: absolute;
  bottom: -100%;
  box-shadow: inset 0 0 1em black;
}

.footer-logo {
  height: 3em;
  width: auto;
  border-radius: 50%;
  box-shadow: inset 0 0 1em black;
}

footer p {
  font-family: Arial;
  color: white;
  margin-right: 8%;
  margin-left: 8%;
}
