html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  width: 100vw;
  height: 100vh;
  background: url('./DenverPark.jpg');
  background-size: cover;
  background-position: center;
}

.container-fluid {
	background-color: #000B12;
}

.title {
  color: grey;
  font-size: 2em;
}

.nav-bar {
  display: flex;
  flex-direction: row;
}

main {
	font-family: PT Sans Narrow;
	height: 90vh;
  display: flex;
  flex-direction: row;
	align-items: center;
  justify-content: space-around;
}

.column {
  width: 60vw;
  margin-top: 2.5%;
  height: 80vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel {
	width: 100%;
	background: #000B12 !important;
	margin: -1%;
}

.panel-default > .panel-heading {
	background: #55ADAD !important;
}

.panel-title {
	color: #000B12 !important;
}

.panel-body {
	text-align: center;
}

.list-group-item {
	font-size: 1.5em;
	background-color: #000B12 !important;
}

.hidden {
  display: none;
}

.big-div {
  height: 60vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 10%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 4em black;
}

.back-link {
  color: blue;
  width: 40%;
  font-size: 1em;
}


.big-title {
  font-size: 3em;
  width: 40%;
  color: white;
}

.big-date {
  color: grey;
  font-size: 2em;
}

.big-description {
  font-size: 1.2em;
  color: white;
}

.list-group {
	width: 25vw;
	float: right;
	position: absolute;
	bottom: 22%;
	right: 5%;
}

#subButton {
	background-color: #8EADA1 !important;
	color: #000B12;
	margin-top: 2%;
}

button:active {
	background-color: #55ADAD !important;
}

footer {
  width: 100%;
  background-color: #000B12;
  height: 4vh;
  position: fixed;
  bottom: 0%;
  text-align: center;
}

footer p {
  color: white;
  margin-top: 0.8%;
}
