html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  width: 100vw;
  height: 100vh;
  background: url('./DenverPark.jpg');
  background-size: cover;
  background-position: center;
}

header {
  height: 7vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;;
  background-color: black;
  align-items: center;
}

.title {
  color: grey;
  font-size: 2em;
}

.nav-bar {
  display: flex;
  flex-direction: row;
}

.linked {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.3em;
}

.nav-tab {
  background-color: rgba(61, 60, 61, 0.8);
  height: 80%;
  margin: 0.5vw;
  width: 8vw;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.column {
  width: 60vw;
  margin-top: 3%;
  height: 80vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 90%;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 2em black;
  margin-top: 1%;
}

.card h3 {
  color: white;
  font-size: 1.5em;
}

.card p {
  color: white;
  text-align: center;
}

.hidden {
  display: none;
}

.big-div {
  height: 60vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 10%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 4em black;
}

.back-link {
  color: blue;
  width: 40%;
  font-size: 1em;
}


.big-title {
  font-size: 3em;
  width: 40%;
  color: white;
}

.big-date {
  color: grey;
  font-size: 2em;
}

.big-description {
  font-size: 1.2em;
  color: white;
}

.check-box {
  width: 30vw;
  height: 60vh;
  margin-right: 5%;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 3em black;
  display: flex;
  flex-direction: row;
}

.check-row {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.check-hold {
  font-size: 2em;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8%;
}

footer {
  width: 100%;
  background: black;
  height: 4vh;
  position: absolute;
  bottom: 0px;
  text-align: center;
}

footer p {
  color: white;
  margin-top: 0.8%;
}
