body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  background-image: url(./denver-wallpaper.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  position: absolute;
  right: -1%;
  width: 100%;
  height: 18vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-tab {
  width: 15vw;
  height: 100%;
  -webkit-transform: skewX(-20deg);
  background: rgb(8, 36, 122);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(8, 36, 122, 0.80);
}

.linky {
  text-decoration: none;
  color: white;
  font-size: 1.22em;
  text-shadow: 2px 2px 2px black;
  margin-left: 1%;
  margin-right: 1%;
}

.nav-tab h4 {
  -webkit-transform: skewX(20deg);
  font-family: Arial;
}

.title-hold {
  background-color: rgba(8, 36, 122, 0.80);
  height: 10vh;
  width: 45%;
  -webkit-transform: skewX(-20deg);
}

.title {
  font-family: firsttest;
  text-align: center;
  font-size: 3.5em;
  color: white;
  text-shadow: 3px 3px 3px black;
  margin: auto;
  margin-top: 1%;
  -webkit-transform: skewX(20deg);
}

#orange-backlit {
  color: #f07028;
}

#blue-backlit {
  color: #08247a;
}



footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: rgba(8, 36, 122, 0.80);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5%;
  margin-top: 0px;
}

.footer-logo {
  height: 5em;
  width: auto;
  margin-right: 4%;
}

footer p {
  font-family: Arial;
  color: white;
  text-shadow: 2px 2px 2px black;
  margin-right: 8%;
  margin-left: 8%;
}
