body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  background-image: url(./denver-wallpaper.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  position: absolute;
  right: -3%;
  width: 100%;
  height: 18vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-tab {
  width: 15vw;
  height: 100%;
  -webkit-transform: skewX(-20deg);
  background: rgba(8, 36, 122, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linky {
  text-decoration: none;
}

.nav-tab h4 {
  -webkit-transform: skewX(20deg);
  font-family: Arial;
  text-decoration: none;
  color: white;
  font-size: 1.22em;
  margin-left: 1%;
  margin-right: 1%;
}

.nav-tab:hover {
  -webkit-transform: skewX(-20deg);
  font-family: Arial;
  margin: 0px
  width: 100%;
  text-decoration: none;
  color: white;
  background-color: rgba(240, 112, 40, 0.8);
  font-size: 1.2em;
  box-shadow: 2px 2px 2px black;
}

.title-hold {
  background-color: rgba(8, 36, 122, 0.8);
  height: 9.6vh;
  width: 45%;
  -webkit-transform: skewX(-20deg);
}

.title {
  font-family: firsttest;
  text-align: center;
  font-size: 3.5em;
  color: white;
  text-shadow: 3px 3px 3px black;
  margin: auto;
  margin-top: 1%;
  -webkit-transform: skewX(20deg);
}

#orange-backlit {
  color: #f07028;
}

#blue-backlit {
  color: #08247a;
}

main {
  width: 100%;
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.column {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  width: 90%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  margin-top: 3%;
  padding-left: 2%;
  text-align: center;
}

h3 {
  font-size: 1.4em;
  color: #f07028;
}

.hold-this {
  color: white;
  font-family: Arial;
}

.hold-this p {
  margin: 1%;
  text-shadow: 2px 2px 2px black;
}

.description {
  color: #f07028;
}

.location {
  color: #08247a;
}

.big-div {
  width: 70vw;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  bottom: 11.5%;
  right: 14%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.x {
  position: absolute;
  top: 2%;
  left: 3%;
  color: white;
  font-family: Arial;
}

.big-title {
  font-size: 4em;
  text-align: center;
}

.big-location {
  font-size: 2.5em;
  text-align: center;
}

.big-description {
  width: 70%;
  text-align: center;
  font-family: Arial;
  color: white;
  font-size: 1.7em;
}

.no-display {
  display: none;
  width: 0px;
  height: 0px;
}

footer {
  width: 100%;
  background-color: rgba(8, 36, 122, 0.85);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5%;
  margin-top: 0px;
  height: 3em;
  position: absolute;
  bottom: 0%;
}

.footer-logo {
  height: 3em;
  width: auto;
  border-radius: 50%;
  box-shadow: inset 0 0 1em black;
}

footer p {
  font-family: Arial;
  color: white;
  margin-right: 8%;
  margin-left: 8%;
}
