body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(./front-range.jpg);
}

header {
  position: absolute;
  right: -1%;
  width: 100%;
  height: 18vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-tab {
  width: 15vw;
  height: 100%;
  -webkit-transform: skewX(-20deg);
  background: rgb(8, 36, 122);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(8, 36, 122, 0.80);
}

.linky {
  text-decoration: none;
  color: white;
  font-size: 1.22em;
  text-shadow: 2px 2px 2px black;
  margin-left: 1%;
  margin-right: 1%;
}

.nav-tab h4 {
  -webkit-transform: skewX(20deg);
  font-family: Arial;
}

.title-hold {
  background-color: rgba(8, 36, 122, 0.80);
  height: 10vh;
  width: 45%;
  -webkit-transform: skewX(-20deg);
}

.title {
  font-family: firsttest;
  text-align: center;
  font-size: 3.5em;
  color: white;
  text-shadow: 3px 3px 3px black;
  margin: auto;
  margin-top: 1%;
  -webkit-transform: skewX(20deg);
}

.orange-backlit {
  color: #f07028;
}

.blue-backlit {
  color: #08247a;
}

main {
  margin-top: 7.8%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.column {
  width: 48%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-family: Arial;
  text-shadow: 1px 1px 1px black;
}

.little-guy {
  margin-top: 2%;;
  height: 22vh;
  width: 48vw;
  background-color: rgba(0, 0, 0, 0.85);
}

.little-title {
  background: -webkit-linear-gradient(#f07028, #08247a);
  font-size: 1.4em;
  width: 20vw;
  align-self: center;
  text-align: center;
}

.little-blurb {
  font-size: 1.3em;
  margin-left: 20%;
}

.badges {
  width: 100%;
  height: 69.2vh;
  margin-top: 2%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  .badges-no-text {
    width: 50%;
    height: 7vh;
    display: flex;
    flex-direction: column-wrap;
    justify-content: space-between;
  }

  .badges h1 {
    text-align: center;
    background: -webkit-linear-gradient(#08247a, #f07028);
    width: 50%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .badge-outer {
    display: flex;
    flex-direction: column;
    margin-left: 8.5%;
  }

  .badge-box {
    text-align: center;
    margin-left: 3vw;
    margin-right: 3vw;
  }

  .badge {
    color: blue;
    font-size: 4em;
    font-family: webdings;
  }

  .badge-row{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: rgba(8, 36, 122, 0.80);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5%;
  margin-top: 0px;
}

.footer-logo {
  margin-top: 0.1em;
  height: 3.7em;
  width: auto;
  border-radius: 50%;
  box-shadow: inset 0 0 1em black;
  height: 5em;
  width: auto;
  margin-right: 4%;
}

footer p {
  font-family: Arial;
  color: white;
  text-shadow: 2px 2px 2px black;
  margin-right: 8%;
  margin-left: 8%;
}
