html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  background-color: #000B12;
	font-family: PT Sans Narrow;
}

section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  font-family: Crimson Text;
  font-size: 30px;
	color: #55ADAD;
}

section.module p {
  color: white;
  font-family: Crimson Text;
	color: #55ADAD;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  background-color: #000B12;
  height: 20vh;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 1.5%;
}
section.module.parallax {
  margin-top: 0px;
  height: 80vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.module.parallax h1 {
	color: white;
	text-shadow: 1em 1em 0.04em black;
  font-size: 3vh;
	text-transform: uppercase;
  text-align: center;
	font-family: Renault;
	margin-top: 9.7%;
}
section.module.parallax-1 {
	padding-right: 1.5%;
  background-image: url("../images/Denver.jpeg");
}
section.module.parallax-2 {
  background-image: url("../images/Capitol.jpeg");
}
section.module.parallax-3 {

  background-image: url("../images/Mountain.jpg");
}
section.module.parallax-4 {
  background-image: url("../images/Rave.jpeg");
}

@media all and (min-width: 600px) {
  section.module h2 {

		font-family: PT Sans narrow;


    font-size: 42px;
  }
  section.module p {
    font-size: 20px;

		font family: PT Sans narrow;
  }
  section.module.parallax h1 {
    font-size: 5em;
  }
}


		font family: PT Sans narrow;

  }


  section.module.parallax h1 {
    font-size: 6em;
		font-family: Crimson Text;
  }


#logo-container {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
  /*background-color: black;*/
}

img {
	width: 2em;
	height: 2em;
	box-shadow: 1px 1px 1px black;
}

.link-hold {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #000B12;
	padding: 0.5%;
	padding-top: 0.6%;
	padding-left: 1%;
	border-radius: 3%;
	border: 1px solid #000B12;
	width: 24vw;
	box-shadow: 3px 3px 2px black;
}

.link-hold:hover{
	background-color: white;
}

.button-label {
	text-align: center;
	align-self: center;
	font-size: 0.2em;
	margin-right: 9.9vw;
	background: none;
}

.linkButton {
	background: none;
	margin: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
	border: 1px solid #55ADAD;
	padding: 1%;
}

.blurb {
	font-family: PT Sans Narrow !important;
	color: #C7CAC9 !important;
	margin-top: 3%;
}

.find {
	margin-bottom: 50%;
	text-shadow: 3px 3px 3px black !important;
}

.just-shadow {
	position: absolute;
	top: 29.5%;
	text-shadow: 4px 4px 2px black !important;
}

.h1-hold {
	margin-top: 4.2%;
	margin-right: 7%;
}

#content3 {
	padding-bottom: 2%;
}

form {
	position: absolute;
	right: 21%;
	bottom: -270%;
	display: flex;
	flex-direction: row;
}

::-webkit-input-placeholder {
	color: #000B12;
}

.multi-input {
	display: flex;
	flex-direction: column;
}

input {
	background-color: rgba(85, 173, 173, 0.8);
	border: 1px solid #000B12;
	font-size: 1.5em;
	margin: 0.5em;
	box-shadow: 2px 2px 1px black;
}

.signUpButton {
	background-color: #000B12;
	position: absolute;
	bottom: -278%;
	right: 42.6%;
	font-family: Crimson Text;
	width: 15vw;
	height: 7vh;
	border: 1px solid rgba(85, 173, 173, 0.8);
	font-size: 2em;
	color: rgba(85, 173, 173, 0.8);
	border-radius: 10%;
}

#join {
	margin-bottom: 200%;
}

.signUpButton:hover {
	background-color: white;

}
